/* halaman utama */
.card .card-body{
 text-align: center;

}
.card .card-body img{
    margin: auto;
}
.card .card-body .aksiUbah a,button{
    width: 100px;
    
}

/* halaman add prov */
.container-input{
    width: 400px;
}